.container {
  padding: 5rem 1rem;
}

.app {
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}

h2 {
  margin: 2rem 0;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btns button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
